{% extends 'base.html' %}

{% block content %}

  <main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium facere placeat impedit aspernatur
            exercitationem vel. Hic deleniti doloremque saepe magni, quo minus non repellendus porro molestias
            ipsum nobis! Explicabo, vero. Rem sed quisquam autem illum saepe eligendi aperiam beatae hic, sit 
            nulla aspernatur voluptatum non. Nesciunt repellat porro ullam doloribus iure. Repellat enim labore
            iure blanditiis laudantium consectetur ea, delectus minima tenetur magni vitae unde saepe distinctio
            tempora mollitia sed eius libero? Fugit, numquam deserunt. Tenetur, quam adipisci dignissimos sint
            a eius quidem. Itaque eligendi eveniet nulla veritatis enim exercitationem autem, obcaecati 
            magnam rem non nam aliquam sequi natus. Natus.
        </p>
       <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Signup
        </a>
       </div>
        
       </section>
  </main>

{% endblock %}